.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.flutter-plugins-dependencies
.metadata

*.log
*.iml
*.class
*.lock
*.swp
*~

.idea/
.vscode/

*.g.dart
*.freezed.dart
*.gr.dart
*.config.dart
*.mocks.dart

android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt
android/.idea/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/app/google-services.json

ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/**/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/
ios/Runner/GoogleService-Info.plist
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

web/firebase-config.js

.firebase/
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
storage.rules

lib/firebase_options.dart
lib/injection_container.config.dart

coverage/
test/.test_coverage.dart
test_driver/

.env
.env.local
.env.*.local
key.properties
